<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TicTacToe</title>
</head>
<body>
    <a href="https://discord.com/api/oauth2/authorize?client_id=815550306351710238&redirect_uri=http%3A%2F%2F127.0.0.1%2Fusers%2Fauth%2F&response_type=code&scope=identify">Authorization</a>
</body>
</html>