<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/auth.css">
    <title>TicTacToe</title>
</head>
<body>
    <main>
        <div class="main__login">
            <h1>TicTacToe</h1>
            <div class="login__auth-button">
                <a class="auth-button__link" href="<%= process.env.AUTHORIZATION_LINK%>">
                    <img src="../img/discord.png">
                    Login
                </a>
            </div>
            <a href="https://github.com/Kitaminka/TicTacToe" class="login__github-link">GitHub</a>
        </div>
    </main>
</body>
</html>