<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/home.js"></script>
    <title>TicTacToe</title>
</head>
<body>
    <img src="https://cdn.discordapp.com/avatars/<%= id%>/<%= avatar%>.png" alt="">
    <%= nickname%>
    <p>Home</p>
    <ul id="roomList"></ul>
</body>
</html>