main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__auth-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 220px;
    height: 75px;
    background-color: #00509D;
    transition: width 0.3s;
}
.main__auth-button:hover {
    width: 270px;
}
.main__auth-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-decoration: none;
}