* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 24px;
    color: #001858;
    background: #FEF6E4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}
main {
    width: 80%;
    height: 80%;
    padding: 50px;
    box-sizing: border-box;
    background: #F3D2C1;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 50px;
}
.main__profile {
    background: #FEF6E4;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-gap: 30px 0;
    padding: 30px 0;
}
.profile__avatar {
    grid-column: 1 / 3;
    width: 128px;
    height: 128px;
}
.profile__avatar-circle {
    border-radius: 64px;
}
.profile__nickname {
    grid-column: 1 / 3;
}
.profile__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.buttons__logout {
    background: #8BD3DD;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 50px;
    height: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: box-shadow 0.2s;
}
.buttons__logout:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.buttons__logout img {
    width: 30px;
    height: 30px;
}
.buttons__reload {
    background: #8BD3DD;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 50px;
    height: 50px;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: box-shadow 0.2s;
}
.buttons__reload:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.buttons__reload img {
    width: 30px;
    height: 30px;
}
.main__create-room {
    background: #FEF6E4;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 30px 0;
}
.create-room__form {
    display: grid;
    align-items: start;
}
.form__header {
    text-align: center;
}
.form__button {
    font-family: 'Hammersmith One', sans-serif;
    font-size: 24px;
    background: #8BD3DD;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    border: none;
    width: 140px;
    height: 50px;
    align-self: end;
    transition: box-shadow 0.2s;
}
.form__button:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.main__room-list {
    background: #FEF6E4;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    grid-column: 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 30px;
    grid-auto-rows: 100px;
    grid-gap: 30px;
    padding: 30px 50px;
}
.room-list__header {
    text-align: center;
}
.room-list__room {
    padding: 20px 30px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    background: #8BD3DD;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transition: box-shadow 0.2s;
}
.room-list__room:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}